html {
    font-size: 18px;
}
p {
    margin: 0;
}
body {
    margin: 10px 0;
}
h1, h2, h3, h4 {
    margin: 0;
}
input, textarea {
    padding: 6px 2px;
    border-radius: 4px;
}
textarea {
    resize: none;
}
button {
    padding: 6px 30px;
    color: white;
    background-color: #4ed3aa;
    border: 0;
    border-radius: 4px;
}

.text-danger {
    color: red;
    font-weight: bold;
}
.title {
    color: #4ed3aa;
    border-bottom: 2px solid #acd8f8;
    padding-left: 10px;
}
.login {
    background-color: #297ab5;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    height: 36px;
}
.login-p {
    margin: 4px 8px;
    color: white;
    font-size: 120%;
}
.login h2 {
    margin: 4px 12px;
    color: white;
}
.login-form {
    width: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 0 8px;
}
.quest-count {
    width: 200px;
    padding: 10px 8px;
    border: 4px solid #acd8f8;
    border-radius: 6px;
    margin: 4px 8px;
}
.table {
    width: 75%;
    border: none;
    margin: 4px 8px;
}
.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #acd8f8;
    color: white;
}
.table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}
.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    vertical-align: top;
}
.table tbody tr:nth-child(even){
    background: #e3efff;
}
.table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}
.create {
    background-color: #297ab5;
    padding: 10px 0;
    color: white;
}
.create-task {
    padding: 4px 8px;
}
.create-form {
    border: 2px solid #acd8f8;
    border-radius: 4px;
    padding: 4px;
    width: 900px;
    height: 460px;
    margin: 4px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.create-answer {
    border: 2px solid #acd8f8;
    border-radius: 4px;
    padding: 4px;
    width: 900px;
    height: 200px;
    margin: 4px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.create-answer input {
    margin: 8px 0;
}
.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.input input {
    width: 80%;
}
.input textarea {
    width: 80%;
}
.input #cost {
    width: 10%;
}
.create-form button {
    width: 75%;
    align-self: center;
}
.create button {
    width: 75%;
    align-self: center;
}
.profile {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}
.out-btn {

}
.out-btn a:active, /* активная/посещенная ссылка */
.out-btn a:hover,  /* при наведении */
.out-btn a {
    text-decoration: none;
    background-color: #4ed3aa;
    border-radius: 4px;
    color: white;
    padding: 6px 30px;
}


